* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #030303;
}

nav {
    height: 7em;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
    color: white;
}

nav > img {
    background-color: white;
    border-radius: 15px;
    position: absolute;
    right: 1em;
    top: 0.5em;
}

nav > #navigation {
    position: absolute;
    top: 10%;
    display: none;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    right: 0;
    width: 28%;
    height: 15%;
}

nav > #navigation > ul > li {
    list-style: none;
    margin-top: 1em;
}

nav > h1 {
    position: relative;
    top: 40%;
    text-transform: uppercase;
    word-spacing: 5px;
    font-size: 18px;
}

/*    H E A D E R   */ 

header {
    position: relative;
    top: 6em;
    color: white;
}

header > #header-img > img {
    width: 60%;
}

header > #header-text {
    height: 15em;
    width: 90%;
    position: relative;
    margin: 0 auto;
    border: 2px solid white;
    top: 5em;
    padding: 1em;
    border-radius: 10px;
}

header > #header-text > p {
    width: 90%;
    margin: 0 auto;
}

header > #header-text > h2 {
    margin-bottom: 0.5em;
}

/* MAIN   */

main {
    position: relative;
    top: 18em;
}

main > article > img {
    width: 60%;
}

main > #about {
    height: 30em;
    width: 90%;
    position: relative;
    margin: 0 auto;
    border: 2px solid white;
    top: 5em;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

main > #about > .box {
    height: 30%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 12px;
}

main > #about > .box > #letter-a {
    font-size: 40px;
    text-transform: uppercase;
}

main > #about > .box > #letter-r {
    font-size: 40px;
    text-transform: uppercase;
}

main > #about > .box > #letter-t {
    font-size: 40px;
    text-transform: uppercase;
}

/* FOOTER  */ 

footer {
    height: 5em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 0;
    top: 25em;
}